body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: grey;
  background-image: url(rain5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Tektur", cursive;
}

.container {
  background: rgba(255, 255, 255, 0.001);
  border: 10px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  display: grid;
  height: 85vh;
  width: min(85vw, 1000px);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}
.sidebar {
  grid-area: 1/2/3/3;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 3px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-family: inherit;
}
input:-webkit-autofill {
  background-color: rgba(255, 255, 255, 0.05);
  color: red;
}
.currentMain {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 80%;
}
.current-temp {
  font-size: min(7vw, 80px);
  display: flex;
  justify-content: center;
}
.current-wind {
  font-size: min(2.5vw, 25px);
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}
.bottom-bar {
  grid-area: 2/1/3/2;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  color: white;
}
.main {
  grid-area: 1/1/2/2;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(rain5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.location {
  font-size: min(60px, 8vw);
}
.condition {
  font-size: min(8vw, 100px);
  color: rgba(255, 255, 255, 0.5);
  text-align: end;
}
.date {
  color: rgba(255, 255, 255, 1);
}
.forecast {
  margin-top: 10px;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ahead {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aheadDiv {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: min(1.5vw, 20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.details {
  display: flex;
  flex-direction: column;
}
.extremes {
  display: flex;
  flex-direction: column;
}
.timeForecast {
  border-top: 5px solid rgba(255, 255, 255, 0.1);
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
}
.timeDiv {
  height: 80%;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Set the color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners for the scrollbar handle */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Set the color of the scrollbar track */
}

.error {
  color: red;
}
